h2 {
    color: white;
    font-size: 60px;
}

label {
    color: white;
    font-size: 30px;
}

#container {
    flex-direction: column;
    height: max-content;
    height: 100vh;
    justify-content: space-evenly;
}

#buttonsContainer input,
#buttonsContainer button,
#trainingName {
    margin: 10px;
    height: 60px;
    width: 300px;
    border-radius: 50px;
    background-color: #E1C5EF;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: black;
}

#trainingContainer input,
#trainingContainer button,
#trainingContainer select {
    margin: 10px;
    height: 40px;
    width: 40%;
    border-radius: 20px;
    background-color: #E1C5EF;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: black;
}

#trainingContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
}

#trainingContainer .readyDay {
    display: flex;
    width: 45%;
    flex-direction: column;
    background-color: #E1C5EF;
    height: 30em;
    margin-top: 2em;
    border-radius: 20px;
}

#trainingContainer .row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;


}

#editableSection {
    position: absolute;
    display: flex;
    width: 54%;
    height: auto;
    left: 23%;
    background-color: #E1C5EF;
    border: 2px solid black;
    border-radius: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#editableSection img {
    width: 40px;
    height: 40px;
    display: block;
}