#container {
    min-height: 100vh;
}

section {
    width: 50%;
    text-align: center;
    align-items: center;
}

#formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formContainer form {
    height: 75%;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}

h2 {
    font-size: 50px;
    height: 25%;
    margin: 0;
    width: auto;
}

#formContainer input {
    margin: 30px;
    height: 80px;
    width: 65%;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid black;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    color: black;

}

#formContainer input::placeholder {
    color: black;
    opacity: 0.5;
}

#whiteBox {
    width: 75%;
    height: 70vh;
    background-color: #E1C5EF;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    #container {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    #formContainer input {
        margin: 20px;
        height: 50px;
        width: 65%;
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
        height: 25%;
        margin: 0;
        width: auto;
    }

    #whiteBox {

        min-height: 450px;
        margin-top: 25px;
    }

    h1 {
        font-size: 70px;
    }
}

@media (max-width: 1400px) {
    #container {
        flex-direction: column;
    }

    section {
        width: 100%;
    }

    #formContainer input {
        margin: 20px;
        height: 50px;
        width: 65%;
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
        height: 25%;
        margin: 0;
        width: auto;
    }

    #whiteBox {

        height: 50vh;
        margin-top: 25px;
    }

    h1 {
        font-size: 70px;
    }
}