#container {
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

#trainingContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#trainingContainer h4 {
    color: white;
    font-size: 40px;
    width: 100%;

}

.setsAndReps {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}

.setsAndReps div {
    margin: 10px;
    font-size: 20px;
    text-align: center;
    width: 25%;

}

#container a {
    margin: 10px;
    height: 50px;
    width: 250px;
    border-radius: 50px;
    background-color: #E1C5EF;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    color: black;
    text-decoration: none;
    vertical-align: bottom;
}

h2 {
    margin-top: 120px;
}